# Default ignored files
/../../../:BookTracker/.idea/shelf/
/../../../:BookTracker/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:BookTracker/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:BookTracker/.idea/dataSources/
/../../../:BookTracker/.idea/dataSources.local.xml
